*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
  width: 600px;
  margin: auto;
}
 body {
   display: block;
   background-color: #E9E9E9;
 }

 .logo {
   margin-top: 25px;
 }

.logo img {
  /*height: 100%;*/
  display: block;
  margin-right: auto;
  margin-left: auto;

}
.intro {
text-align: center;
float:right;
}

li {
 list-style: none;
}

.main img {
  max-width: 100%;
  /*width: 300px;*/
  /*height: 175px;*/
  float: left;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  color: #E14141;

}


.cf:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  /*display: block;*/
  border-top: 1px solid black;
  font-size: 12px;
  margin-top: 35px;
  font-size: 12px;


}
ul{
  padding: 0;
}

h2 {
  font-weight: normal;
}
ul li {
  float: left;
  width: 30%;
  border-bottom: 1px solid black;
  text-align: center;
  margin-right: 5%;
  padding-bottom: 10px;
  color: #E14141;
}
.last{
  margin-right: 0;

}

.footer {
  clear: both;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 20px;
}

.main h3 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.him img {
  max-width: 180px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 5px;
  padding-top: 5px;
}


div.him {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;

}

.him:nth-child(even){
  margin-left: -8px;
  float: left;
  margin-right: 70px;
}
.him:nth-child(odd){
  float: left;
  /*padding-left: 10px;*/
  margin-left: 10px;
}

.caption {
    display: block;
    margin-left: 40px;
}

h3 {
  font-size: 25px;
  font-weight: normal;
}

.intro p {
  text-align: left;
}

.div {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}
 /*MEDIA QUERIES*/

 @media only screen and (min-width: 320px),
 only screen and (min-width: 320px) and (orientation: portrait) {

.container {
  max-width: 320px;
  /*max-width: 320px;*/
  /*margin: 0 auto;*/
}

 @media only screen and (min-width: 480px),
 only screen and (min-width: 480px) and (orientation: landscape) {

.container {
 max-width:700px;
 height: auto;
}

.him:nth-child(4) {
 margin-left: 80px;
}
.him:nth-child(6) {
 margin-left: 80px;
}
.him:nth-child(5) {
 margin-left: -10px;
}

.him:nth-child(7) {
 margin-left: 15px;
}



 @media only screen and (min-width: 960px),{

.container {
  display: block;
}
 .logo {
   position: relative;
   right: 460px;
   top: 80px;
   /*margin-left: -1000px;*/
   /*margin-top: 100px;*/
 }
 .navbar a {
   font-size: 15px;
   font-weight: bold;
   border-top: 1px solid black;

 }


  .first {
  position: relative;
  top: 300px;
  right: 250px;
  border-top: 1px solid black;
  padding-top: 15px;
}

.second {
  position: relative;
  top: 380px;
  right: 463px;
}

.last {
  position: relative;
  top: 460px;
  right: 672px;
}

.him:nth-child(2) {
  margin-left: 10px;
}
.him:nth-child(5) {
  margin-left: 10px;
}
.intro {
  font-size: 20px;
  font-weight:normal;
  font-family:inherit;
}
.main img {
  width: 400px;
  height: 300px;
}
.navbar {
  border-top: none;
  margin-top: -50px;
}
}
@media only screen and (min-width: 1024px),
only screen and (min-width: 1000px) {

.container {
  max-width: 1024px;
}

.him img {
float: left }

}
}
